@use "../variables/ColourPalette.scss" as *;
@use "../variables/Theme.scss" as *;
@use "../variables/Accessability.scss" as *;
@use "sass:map";

// fc = Form Controls
$form-row-gap: 16px;
$form-column-gap: 16px;

$form-control-border-radius: 6px;
$form-control-border-width: 2px;
$form-control-font-size: 16px;
$form-control-font-weight: normal;

$form-control-label-font-size: 14px;
$form-control-label-font-weight: 200;

$form-control-error-font-size: 12px;
$form-control-error-font-weight: 600;

//
// Forms are laid out with the label above the text box by detail
// but by placing the class 'form-inline', the labels will appear
// to the left of the control

//
// .fc-prefix-text
// .fc-suffix-text

.ui-form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  column-gap: $form-column-gap;
  row-gap: $form-row-gap;
  width: 100%;

  &.layoutColumn {
    flex-direction: column;
  }

  &.layoutRow {
    flex-direction: row;
  }

  .ui-fc-control {
    display: flex;
    flex-direction: column;
    flex: 1; // Makes the control take up the remaining width in the flex container

    // label
    .ui-fc-label {
      user-select: none;
      font-size: $form-control-label-font-size;
      font-weight: $form-control-label-font-weight;
      margin-bottom: 4px;
    }

    // input control
    .ui-fc-text {
      display: flex;
      flex-direction: row;
      align-items: flex-stretch;
      border: solid $form-control-border-width black;
      height: 36px;
      border-radius: $form-control-border-radius;
      width: 100%;
      box-sizing: border-box; // Includes padding and border in the total width

      @each $style, $properties in $theme-styles {
        &.fc-#{$style} {
          border-color: map.get($properties, light-border-color);

          input {
            border-radius: $form-control-border-radius;
            font-size: $form-control-font-size;
            font-weight: $form-control-font-weight;

            &:focus {
              outline: $focus-width solid rgba(map.get($properties, light-border-color), 0.6); // Set opacity to 80%
              outline-offset: $focus-offset;
              z-index: $focus-zindex;
            }
          }

          .fc-prefix-text,
          .fc-suffix-text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            background: map.get($properties, light-color);
            color: map.get($properties, light-text-color);
            z-index: -1;
          }

          .fc-prefix-text {
            border-right: 1px solid map.get($properties, light-border-color);
          }
          .fc-suffix-text {
            border-left: 1px solid map.get($properties, light-border-color);
          }
        }
      }

      input {
        flex-grow: 1;
        padding-left: 8px;
        padding-right: 6px;
        border: none;
      }
    }

    .ui-fc-error {
      user-select: none;
      color: $red-500;
      font-size: $form-control-error-font-size;
      font-weight: $form-control-error-font-weight;
      margin-top: 8px;
      text-wrap: wrap;
      width: 100%;
      box-sizing: border-box; // Includes padding and border in the total width
    }
  }
}
