@use "../variables/ColourPalette.scss" as *;
@use "../variables/Theme.scss" as *;
@use "../variables/Accessability.scss" as *;
@use "../variables/Form.scss" as *;
@use "sass:map";

// fc = Form Controls

//
// Forms are laid out with the label above the text box by detail
// but by placing the class 'form-inline', the labels will appear
// to the left of the control

.ui-form {
  width: 100%;
  .ui-fc-control {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    width: 100%;
    margin-bottom: 12px;
    grid-template-columns: "auto";

    &.layout-column {
      .cell-label {
        grid-row: 1;
        grid-column: 1;
      }

      .cell-control {
        grid-row: 2;
        grid-column: 1;
      }

      .cell-error {
        grid-row: 3;
        grid-column: 1;
      }

      .cell-help {
        grid-row: 4;
        grid-column: 1;
      }
    }

    &.layout-row {
      grid-template-columns: $form-layout-row-label-width auto;

      .cell-label {
        display: flex;
        grid-row: 1;
        grid-column: 1;
        align-items: center;
      }

      .cell-control {
        grid-row: 1;
        grid-column: 2;
      }

      .cell-error {
        grid-row: 2;
        grid-column: 2;
      }

      .cell-help {
        grid-row: 3;
        grid-column: 2;
      }
    }

    // label
    .ui-fc-label {
      user-select: none;
      font-size: $form-control-label-font-size;
      font-weight: $form-control-label-font-weight;
      margin-bottom: 4px;
      margin-right: 8px;
    }

    .ui-fc-help {
      user-select: none;
      color: $green-500;
      font-size: $form-control-help-font-size;
      font-weight: $form-control-help-font-weight;
      margin-top: 6px;
      text-wrap: wrap;
      width: 100%;
      box-sizing: border-box; // Includes padding and border in the total width
    }

    .ui-fc-error {
      user-select: none;
      color: $red-500;
      font-size: $form-control-error-font-size;
      font-weight: $form-control-error-font-weight;
      margin-top: 6px;
      text-wrap: wrap;
      width: 100%;
      box-sizing: border-box; // Includes padding and border in the total width
    }
  }
}
