@use "../variables/ColourPalette.scss" as *;
@use "../variables/Theme.scss" as *;
@use "../variables/Accessability.scss" as *;
@use "../variables/Form.scss" as *;
@use "../mixins/MixinFocus.scss" as *;
@use "sass:map";

// fc = Form Controls

//
// Forms are laid out with the label above the text box by detail
// but by placing the class 'form-inline', the labels will appear
// to the left of the control

//
// .fc-prefix-text
// .fc-suffix-text

.ui-form {
  .ui-fc-control {
    // input control
    .ui-fc-text {
      display: flex;
      flex-direction: row;
      align-items: flex-stretch;
      border: solid $form-control-border-width black;
      height: $form-control-hight;
      border-radius: $form-control-border-radius;
      width: 100%;
      box-sizing: border-box; // Includes padding and border in the total width

      @each $style, $properties in $theme-styles {
        &.fc-#{$style} {
          input {
            //border-color: map.get($properties, light-border-color);
            border-radius: $form-control-border-radius - 2px;
            font-size: $form-control-font-size;
            font-weight: $form-control-font-weight;
            border: none;

            &:focus {
              @include focus-style(map.get($properties, light-border-color));
            }

            &:read-only {
              border-color: map.get($properties, border-color);
              background-color: map.get($properties, light-color);
            }
          }

          .fc-prefix-text,
          .fc-suffix-text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            background: map.get($properties, light-color);
            color: map.get($properties, light-text-color);
            z-index: -1;
          }

          .fc-prefix-text {
            border-right: 1px solid map.get($properties, light-border-color);
          }
          .fc-suffix-text {
            border-left: 1px solid map.get($properties, light-border-color);
          }
        }
      }

      input {
        flex-grow: 1;
        padding-left: 8px;
        padding-right: 6px;
        border: none;
      }
    }
  }
}
