$footer-background: #f9fafb;

.ui-popup-container {
    position: fixed;
    top: 15%;
    left:50%;
    transform: translate(-50%, 0);
    background-color: white;
    opacity: 1;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.ui-popup-content-container {
    background-color: white;
    opacity: 1;
    padding-top: 1.25rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.ui-popup-text-container {
    text-align: center;
    margin-top: 0.7rem;
}

.ui-popup-body-text {
    margin-top: 0.5rem;
}

.ui-popup-footer {
    background-color: $footer-background;
    opacity: 1;
    padding: 0.75rem 1rem;
}

@media (min-width: 640px) {
    .ui-popup-container {
        max-width: 32rem;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .ui-popup-content-container {
        padding: 1.5rem;
        padding-bottom: 1rem;
    }

    .ui-popup-content {
        display: flex;
        align-items: flex-start;
    }

    .ui-popup-text-container {
        text-align: left;
        margin-left: 1rem;
        margin-top: 0;
    }

    .ui-popup-footer {
        padding: 0.7rem 1.5rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 0.75rem;
    }
}