@use "../../../styles/variables/ColourPalette.scss" as *;

#storybook-root,
.docs-story {
  font-family: Arial, Helvetica, sans-serif;
}

.flex {
  display: flex;
  gap: 4px;
  justify-content: center;
}

.sb-section-header {
  display: flex;
  justify-content: center;
  margin: 8px;
  font-size: 24px;
  font-weight: bold;
}

.sb-flex-grid {
  display: grid;
  gap: 4px;
  margin-bottom: 32px;

  > * {
    display: flex; // Make each cell a flex container
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
  }

  // Loop through column classes and define grid-template-columns dynamically
  @for $i from 1 through 12 {
    &.sb-cols-#{$i} {
      grid-template-columns: repeat($i, 1fr); // $i columns with equal width
    }
  }

  // Loop to set column span classes
  @for $i from 1 through 10 {
    .sb-span-#{$i} {
      grid-column: span $i; // Span $i columns
    }
  }
}

.sb-icon-gallery {
  user-select: none;

  .sb-icon-toolbar {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  .sb-icon-grid {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
    padding-top: 8px;

    .sb-icon-cell {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 156px;
      border-radius: 8px;
      background-color: $gray-100;
      color: $gray-700;
      box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);

      .sb-icon-title {
        position: absolute;
        bottom: 4px;
        left: 0;
        right: 0;
        font-size: 12px;
        text-align: center;
      }

      .popup-message {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        position: absolute;
        height: 30px;
        padding: 8px;
        top: -12px;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        background-color: $gray-700;
        color: $white;
        border-radius: 8px;
        z-index: 10;
        transition: opacity 0.8s ease;
      }

      &:hover .popup-message {
        opacity: 0.8;
      }
    }
  }
}
