@forward "./sections/Text.scss";
@forward "./sections/UIAccessability";
@forward "./sections/UIAlert.scss";
@forward "./sections/UIButtons.scss";
@forward "./sections/UIFormControl.scss";
@forward "./sections/UIFormSegment.scss";
@forward "./sections/UIFormSelect.scss";
@forward "./sections/UIFormText.scss";
@forward "./sections/UIIcons.scss";
@forward "./sections/UILayoutFlex.scss";
@forward "./sections/UILayoutGrid.scss";
@forward "./sections/UINavBar.scss";
@forward "./sections/UINotifications.scss";
@forward "./sections/UIPagination.scss";
@forward "./sections/UIPalette.scss";
@forward "./sections/UIPopup.scss";
@forward "./sections/UISegment.scss";
@forward "./sections/UISelect.scss";
@forward "./sections/UISpinner.scss";
@forward "./sections/UISwatch.scss";
@forward "./sections/UISwitch.scss";
@forward "./sections/UIText.scss";
@forward "./sections/UIWorkflowBar.scss";

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.root {
  height: 100%;
}
