@use "sass:map";

@forward "./sections/Accessability";
@forward "./sections/Alert.scss";
@forward "./sections/Buttons.scss";
@forward "./sections/DefaultTable.scss";
@forward "./sections/Icons.scss";
@forward "./sections/notifications.scss";
@forward "./sections/Popup.scss";
@forward "./sections/Spinner.scss";
@forward "./sections/Text.scss";
@forward "./sections/UINavBar.scss";
@forward "./sections/UIWorkflowBar.scss";
@forward "./sections/UIPagination.scss";
@forward "./sections/Palette.scss";
@forward "./sections/Form.scss";

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.root {
  height: 100%;
}
